<div class="ItemTable">
            <!-- table headers and data -->
    <table #itemtable >
        <tr>
            <th  *ngFor = "let header of tableHeaders;let i=index" >              
                
               <tableHeader [headerValue]="header"
                            [headerId]="dataFields[i]">

               </tableHeader>
            </th> 
            
        </tr>
        <ng-container  *ngFor="let dataItem of tableData ; let i=index " >
        <tr>  
            <td *ngFor="let key of dataFields">{{dataItem[key]}}</td>
            <ng-container *ngIf="tableEditFlag">
            <td>   
                <button mat-icon-button (click)="edit(dataItem,generateRow(i))"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="delete(dataItem,generateRow(i))"><mat-icon>clear</mat-icon></button>
            </td>
            </ng-container> 
         </tr> 
         
        <tr [hidden]="true"  class="itemDetail"  id="{{generateRow(i)}}">
            
            <td [attr.colspan]="colSpanWidth">
              <itemDetail [dataFields]="dataFields"
                          [data]="dataItem"
                          [dataKey]="dataKey" 
                          [rowId]="generateRow(i)"  
                          (onViewChanges)="handleViewChanges($event)"  >
                  
              </itemDetail>  
                 
                 
            </td>
            
                
            
                        
          
        </tr>
               
         
        </ng-container>
        
        
    </table>
</div>